body {
  font-family: Arial, Helvetica, sans-serif;
}
span::before {
  content: attr(data-desc);

  font-size: 12px;
  position: absolute;
  z-index: 999;
  background: rgb(255, 196, 0);
  color: black;
  padding: 2px;
  opacity: 0;
  transition: opacity 0.4s ease-out;
  border: 1px solid black;
  border-radius: 2px;
}

span:hover::before {
  opacity: 1;
}

ul {
  list-style-type: none;
  padding-left: 30px;
}

.fa {
  padding-right: 5px;
}

.hide {
  display: none;
}
