.wrapper {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    padding: 1em 1em 1em 0em;
    border-bottom: 1px solid #505050;
    box-shadow: 0px 5px 30px -17px #505050;
    z-index: 100;
}

.nav {
    float: left;
}

.nav a {
    display: block;
    text-align: center;
    text-decoration: none;
    transition: 0.2s all;
    font-weight: bold;
    color: inherit;
    padding-right: 2em;
}

.nav a:hover {
    opacity: 0.7;
}
