.item {
  grid-row: 2 / 4;
  grid-column: 7 / 13;
}

.main_container {
  background: yellow;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
