.avatar {
    width: 75%;
    border-radius: 50%;
}

.avatar:hover {
    box-shadow: 0px 1px 6px #000;
    transition: 0.2s all;
}

.review {
    display: flex;
    position: relative;
    margin: 5px;
    padding: 5px;
}

.user {
    flex: 0 1 auto;
    padding-bottom: 10px;
}

.portrait {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 90px;
    font-size: 70px;
    line-height: 0;
}

.name {
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
}

.body {
    flex: 1 1 0%;
    position: relative;
    padding: 15px;
    border: 1px solid #cad0d2;
    border-radius: 4px;
}

.body:after,
.body:before {
    right: 100%;
    top: 35px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.body:after {
    border-color: transparent;
    border-right-color: #ffffff;
    border-width: 8px;
    margin-top: -8px;
}

.body:before {
    border-color: transparent;
    border-right-color: #cad0d2;
    border-width: 9px;
    margin-top: -9px;
}

.content {
    font-size: 14px;
}

.date {
    margin-top: 5px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.rating {
    padding-top: 1em;
}
