body {
  font-family: 'Saira', sans-serif;
}

ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

li {
  flex: 1;
  background-image: url('./checkmark-icon.png');
  background-repeat: no-repeat;
  background-size: 25px 25px;
  padding: 0 0 20px 35px;
  margin: 0 0.5%;
}

li * {
  margin: 0;
}

@media (max-width: 1024px) and (min-width: 769px) {
  li {
    flex: 1 0 320px;
  }
}

@media (max-width: 768px) {
  li {
    flex: 1 0 320px;
  }
}
