body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    /*overflow-y: hidden;*/
}

header {
    background-color: #eeeeee;
    border-bottom: 3px solid #e0e0e0;
    width: 100%;
    height: 100%;
}

header>h1 {
    margin: 0;
    padding: 0.5em;
}

nav>div>button {
    /*position: relative; */
    display: inline-block;
    padding: 0.4em;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border-bottom: 0px;
    background: white;
}

nav div {
    margin-left: 20px;
    display: inline-block;
}

button:hover {
    opacity: 0.85;
}

#canvas {
    position: relative;
    /*width: 100%;*/
    /*height: 100%;
   position:absolute;
   background:#fdfdfc;
   overflow: auto;*/
}

.shape {
    position: absolute;
    z-index: 100;
}

.oval {
    border-radius: 50%;
}

.shapeselector {
    background-color: white;
    border: 1px solid black;
    height: 20px;
    width: 20px;
    margin: -10px;
    position: absolute;
    display: none;
}

.selected .shapeselector {
    display: inline-block;
    z-index: 700;
}

.selected {
    z-index: 600;
}

.topright {
    right: 0;
}

.bottomleft {
    bottom: 0;
}

.bottomright {
    right: 0;
    bottom: 0;
}

.colorselection {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    /*opacity: 1;*/
    /*display: float;*/
    /*right: 0px;*/
    /*position: absolute;*/
    /*display: block;*/
    /*left:0;*/
}

#colors {
    position: absolute;
    display: none;
    border-collapse: collapse;
}

td:hover {
    opacity: 0.8;
}

#colors.showcolors {
    display: inline-block;
    z-index: 999;
}

.window {
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 400px;
    height: 150px;
    margin: auto;
    z-index: 1100;
    background: white;
    display: none;
}

.window div {
    padding: 0.3em;
}

.window select {
    min-width: 150px;
}

#execdelete {
    position: absolute;
    right: 0px;
    margin-right: 0.3em;
}

.prompt {
    display: inline-block;
    position: fixed;
    width: 250px;
    height: 70px;
    display: none;
    text-align: center;
}

.prompt>h1 {
    position: relative;
    margin: 0;
    padding: 0.5em 1em;
    background: royalblue;
}

.window>h1 {
    position: relative;
    margin: 0;
    padding: 0.5em 1em;
    background: royalblue;
}

.showwindow {
    display: inline-block;
}

#savesuccessfull.showwindow {
    display: inline-block;
}

#darkbackground {
    display: none;
    position: absolute;
    opacity: 0.5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: royalblue;
    z-index: 1000;
}

#darkbackground.showbackground {
    display: inline-block;
}

h1>button {
    right: 1em;
    /*top: auto;*/
    position: absolute;
    font-weight: bold;
    /*margin: -0.5em;*/
    /*background: royalblue;*/
    /*border: none;*/
}

.btncontainer {
    border: 1px solid #D6D6D6;
    border-bottom: 0px;
    padding: 0.1em;
    padding-bottom: 0px;
    padding-top: 0px;
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
}

.btncontainer>p {
    font-size: 0.52em;
    margin: 0;
    text-align: center;
    color: #4c4c4c;
}