<div class="tile is-ancestor">
    <div class="tile is-vertical is-2">
        <div class="tile">
            <div class="tile is-parent is-vertical">

                <add-job class="tile is-parent"></add-job>

                <!-- <skills-search class="tile is-parent"></skills-search> -->

                <job-ad class="tile is-parent"></job-ad>

            </div>
        </div>
    </div>

    <div class="tile is-parent is-vertical">
        <applied-jobs class="tile is-parent"></applied-jobs>
        <published-jobs class="tile is-parent"></published-jobs>
    </div>
    <!--     
    <div class="tile is-parent">
        <applied-jobs class="tile is-parent"></applied-jobs>
    </div> -->

</div>