.app {
  text-align: center;
  background: #e6e6e6;
}

.app {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: stretch;
  /* align-items: center; */
}

/* #root > div > div.books-container > div */

.books-container {
  order: 0;
  flex: 0 1 60%;
  align-self: auto;
  margin: 0;
}

.selection-container {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
}

.books-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  /* align-content: stretch; */
  align-items: center;
}

.fa-chevron-left {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.books-list {
  order: 0;
  flex: 0 1 70%;
  align-self: auto;
}

.fa-chevron-right {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.books-container > .fa {
  font-size: 35px;
  color: #919191;
}
