.locationsList {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.locationsList > a {
    overflow: hidden;
    margin: 1em;
    text-decoration: none;
}

.locationsList > a > img {
    width: 100%;
}

.hideLocationsList {
    display: none;
}

.price {
    font-size: 1.5em;
}

.locations_wrap > * {
    color: #333;
    margin: 0 0 0.5em 0;
}

.locations_wrap > h3 {
    font-size: 1.1em;
}

.locations_wrap > h4 {
    letter-spacing: 0.1em;
    opacity: 0.5;
}
