body {
    font-family: Arial, Helvetica, sans-serif;
    /* text-align: left; */
}

.jobs-title {
    font-weight: bold;
}

.sortorder:after {
    content: '\25b2';
}
.sortorder.reverse:after {
    content: '\25bc';
}
